
/* Laptop */ 
.text {
    width: 35vw; 
    margin-left: 7vw; 
    margin-right: 12.5vw;  
    margin-top: 3.5vw; 
    font-size: 1.25rem; 
}

.text .dropdown {
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    
    width: fit-content; 
}
  
.text .dropdown-header {
    
    cursor: pointer;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: fit-content; 

}
  
.text .dropdown-content {
    display: none;
}
  
.text .dropdown.open .dropdown-content {
    display: block;
}

.input-invalid {
    border: 2px solid red !important;
    outline: none;
}


.down-arrow {
    width: 1.25rem; 
    height: 1.25rem; 
}

.down-arrow:hover {
    cursor: pointer; 
}


#copy-button {
    border: none; 
    background: none; 
}

#copy-button:hover {
    cursor: pointer; 
}


  
.text .arrow {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.5rem;
    flex-shrink: 0; /* Prevents resizing */
}

#link-preview-input {
    font-size: 1.25rem; 
    width: 18rem;

}

#donation-form input {
    margin-left: 0.5rem; 
    font-size: 1.25rem; 
}

#donation-form select {
    margin-left: 0.5rem;
    font-size: 1.25rem; 
}

#donate-button {
    font-size: 1.25rem; 
}
#donate-button:hover {
    cursor: pointer; 
}
#no-margin {
    padding-left: 1.5vw;
    margin-left: 0;
}
#no-margin li{
    margin-left: 0;
}

ul li {
    margin: 0; 
}

td {
    padding-top: 1rem; 
    padding-right: 1rem; 
    padding-bottom: 1rem; 
    margin-left: 0; 
}

a {
    overflow-wrap: break-word;
    word-break: break-word;
}

#about, #home {
    font-size: 0.75rem; 
    color: rgb(220, 220, 220); 
    
}

#about:hover, #home:hover {
    cursor: pointer; 
}

#about-container {
    width: 100%; 
    text-align: center;
}


#james-image {
    width: 25vw; 
}

/* Phone */  
@media (max-width: 600px) {
    .text {
        width: 80vw; 
        margin-left: 10vw; 
        margin-right: 10vw;  
        margin-top: 3.5vw;
    }

    h1 {
        font-size: 2.2rem; 
    }

    h2 {
        font-size: 1.5rem; 
    }

    #james-image {
        width: 35vw; 
    }
}