#text {
    width: 75vw; 
    margin-left: 12.5vw; 
    margin-right: 12.5vw;  
    font-size: 2.5rem; 
}

#text .dropdown {
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    
    width: fit-content; 
}
  
#text .dropdown-header {
    
    cursor: pointer;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: fit-content; 

}
  
#text .dropdown-content {
    display: none;
}
  
#text .dropdown.open .dropdown-content {
    display: block;
}

  
  
#text .arrow {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.9rem;
    flex-shrink: 0; /* Prevents resizing */
}

#donation-form input {
    margin-left: 0.5rem; 
    font-size: 2rem; 
}

#donation-form select {
    margin-left: 0.5rem;
    font-size: 2rem; 
}

#donate-button {
    font-size: 2.5rem; 
}
#donate-button:hover {
    cursor: pointer; 
}
